In [1]:
#Importamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Carga desde un archivo .csv sin indice
data1= pd.read_csv('Datos_LosAngeles_EstadosUnidos.csv')
data1

,last_scraped,source,description,neighborhood_overview,host_name,host_since,host_response_time,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,45540,city scrape,The whole group will enjoy easy access to ever...,NaN,Moon,41294.0,within a few hours,0.41,f,Brentwood,...,NaN,NaN,NaN,NaN,f,61,4,57,0,NaN
1,45540,previous scrape,NaN,NaN,Ida,43668.0,NaN,NaN,f,South Robertson,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,45540,city scrape,"Charming, renovated home in the Beverly Hills ...",NaN,Tiana,45054.0,within a day,0.17,f,NaN,...,NaN,NaN,NaN,NaN,f,4,4,0,0,NaN
3,45539,city scrape,Relax in this unique and serene retreat.,NaN,Dan,44522.0,a few days or more,0.56,f,Walnut Valley,...,5.00,5.00,5.00,3.00,f,4,1,3,0,0.06
4,45540,city scrape,Welcome to our stunning apartment nestled in t...,NaN,Farkhat,45136.0,within an hour,0.95,t,Downtown,...,4.93,5.00,4.73,4.77,t,3,3,0,0,3.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45528,45540,previous scrape,NaN,NaN,Eric,42748.0,NaN,1.00,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
45529,45540,previous scrape,You'll have a great time at this comfortable p...,NaN,Michael,45133.0,NaN,NaN,f,Downtown Los Angeles,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
45530,45540,previous scrape,Enjoy easy access to popular shops and restaur...,NaN,Cabana,44855.0,within an hour,1.00,f,Whittier,...,NaN,NaN,NaN,NaN,t,3,0,3,0,NaN
45531,45540,city scrape,Peaceful private studio in lovely Jefferson Pa...,Jefferson Park is a historical neighborhood wi...,Christine,41498.0,within an hour,1.00,t,NaN,...,4.92,4.94,4.78,4.75,t,1,1,0,0,3.20
45532,45540,city scrape,"cozy & offers unbeatable views of downtown LA,...",We live in view park which is just east of Cul...,Maite,41511.0,a few days or more,0.19,f,South Los Angeles,...,5.00,5.00,4.75,4.83,f,1,1,0,0,0.76

In [3]:
#Identificar valores nulos por columna
valores_nulos=data1.isnull().sum()
valores_nulos

last_scraped                                        0
source                                              0
description                                      1433
neighborhood_overview                           22421
host_name                                           2
host_since                                          2
host_response_time                              10088
host_acceptance_rate                             9683
host_is_superhost                                1252
host_neighbourhood                               9985
host_total_listings_count                           2
host_verifications                                  2
host_has_profile_pic                                2
host_identity_verified                              2
neighbourhood_cleansed                              0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms_text                                     25
bedrooms                                         3039
beds                                             8334
amenities                                           0
price                                            8237
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              7
maximum_minimum_nights                              7
minimum_maximum_nights                              7
maximum_maximum_nights                              7
minimum_nights_avg_ntm                              7
maximum_nights_avg_ntm                              7
has_availability                                 3339
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                            12146
review_scores_cleanliness                       12156
review_scores_checkin                           12163
review_scores_communication                     12156
review_scores_location                          12164
review_scores_value                             12165
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               12146
dtype: int64

In [4]:
#Identificar valores nulos para dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos

np.int64(162986)

**Metodos de Sustitucion para Valores Nulos.**

In [5]:
#Realizamos una copia del dataframe
data2=data1.copy()

In [6]:
#Sustitucion de valores nulos por un valor de texto dado que no proporcionan una descripcion, llenarlo con una descripcion diciendo que no esta disponible sirve para no dejar los valores nulos.
data2["description"]=data2["description"].fillna("No description available")

In [10]:
#Sustitucion de valores nulos por un valor de texto, al igual que la columna anterior, la use para dar entender que la informacion no fue proporciona y va acorde con el tipo de valor que tiene la columna.
data2["neighborhood_overview"]=data2["neighborhood_overview"].fillna("No overview available")

In [14]:
#Sustitucion de valores nulos por un valor de texto, al igual que la columna anterior, y esta vez por dos columnas opte por sustituir el valor nulo por desconocido, y dado que es acorde y se puede aplicar a diferentes columnas, asi lo hice.
data2[["host_name", "host_response_time"]]=data2[["host_name", "host_response_time"]].fillna("Unknown")

In [16]:
#Sustitucion de valores nulos por valores no nulos hacia adelante, ocupe este metodo y a varias columnas ya que visualizando los valores, me di cuenta el valor adelante de el suele ser el mismo o similar al de la columna y queda perfecto como sustitucion de los valores nulos 
data2[["host_since", "host_neighbourhood", "bathrooms_text"]]=data2[["host_since", "host_neighbourhood", "bathrooms_text"]].fillna(method="ffill")

C:\Users\angel\AppData\Local\Temp\ipykernel_3760\2611769699.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2[["host_since", "host_neighbourhood", "bathrooms_text"]]=data2[["host_since", "host_neighbourhood", "bathrooms_text"]].fillna(method="ffill")

In [18]:
#Sustitucion de valores nulos con promedio o  media, decidi ocupar este metodo y dada la similitud de columnas, dado que los valores de cada columna suelen estar en casi el mismo rango de valor, asi que al sacar el promedio de cada columna y sustituirlo por lo valores nulos es una buena aproximacion de los valores.
data2[["host_acceptance_rate", "bedrooms", "beds", "price", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm"]]=data2[["host_acceptance_rate", "bedrooms", "beds", "price", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm"]].fillna(round(data1[["host_acceptance_rate", "bedrooms", "beds", "price", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm"]].mean(),1))

In [20]:
#Sustitucion de valores nulos con valores no nulos hacia atras, decidi ocupar este metodo dado por el hecho de que hay varios anfritiones con varias propiedades y algunas si estan marcadas como verrdaderos y otros como falso y al ocupar este metodo se puede llenar con el hecho que lo puede ser o no, y dado con los valores de la tabla es una buena susticion para los valores nulos. 
data2[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]]=data2[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].fillna(method="bfill")

C:\Users\angel\AppData\Local\Temp\ipykernel_3760\2426065164.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]]=data2[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].fillna(method="bfill")

In [22]:
#Sustitucion de valores nulos por un valor numerico en concreto, este lo elegi dado que si no posee un valor es razonable suponer que tiene 0 anuncios activos
data2["host_total_listings_count"]=data2["host_total_listings_count"].fillna(0)

In [24]:
#Sustitucion de valores nulos por un valor de texto en concreto, al igual que el anterior este lo elegi dado que si no posee un valor es razonable suponer que su verificacion es desconocida.
data2["host_verifications"]=data2["host_verifications"].fillna("Unknown")

In [26]:
##Sustitucion de valores nulos por un valor de texto en concreto, al igual que los anteriores este lo escogi dado que si no tiene un valor parece razonable pensar que no esta disponible.
data2["has_availability"] = data2["has_availability"].fillna("unavailable")

In [28]:
#Sustituicion por mediana ya que las columnas pueden tener variabilidad y este metodo es más resistente a valores extraños o discrepancias que puede tener al ser columnas de reseñas,
data2[["review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value", "reviews_per_month"]]=data2[["review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value", "reviews_per_month"]].fillna(round(data1[["review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value", "reviews_per_month"]].median(),1))

In [29]:
#Identificar valores nulos para dataframe
valores_nulos=data2.isnull().sum()
valores_nulos

last_scraped                                    0
source                                          0
description                                     0
neighborhood_overview                           0
host_name                                       0
host_since                                      0
host_response_time                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_neighbourhood                              0
host_total_listings_count                       0
host_verifications                              0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
has_availability                                0
calendar_last_scraped                           0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [30]:
#Identificar valores nulos para dataframe
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [31]:
#Convertir DataFrame a csv
data2.to_csv('Datos_de_LosAngeles_EstadosUnidos_sin_nulos.csv')